{% extends 'layout.html' %} {% block content%}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Documentation</h1>
	</div>

	<!-- Content Row -->
	<div class="row">

		<!-- Content Column -->
		<div class="col-lg-12 mb-12">

			<!-- Project Card Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">How to upload AI model for federated learning</h6>
				</div>
				<div class="card-body">
					<div class="container">
						<div class="card-body">
							<h6> Download the <a href="/static/FL_file/FL_util.py">FL_util.py</a> and <a href="/static/FL_file/FL_downloadtest.py">FL_downloadtest.py</a> 
							</h6> 
						</div>
						<div class="card-body">
							<p>
								<pre>
									<code>
<h6>
from model_repository.FL_model.FL_util import FL_model 

repository_address ='http://0.0.0.0:8080/'
</h6>
"""
#Define model information including model name, model version, and model location.
#Set the initial model version to 0.0. 
#The version of each AI model can be described up to one decimal place.
## Model name: The model name to be registered must be unique. Check the name of the registered model (visit:/repository_structure)
## Model version: Models with the same name can have multiple versions. The model version can be described up to the first decimal place.
## Model location (server/client): 
##### server: The server registers an initial AI model and updates an advanced global model using the model created by clients. The updated model is registered again in the repository.
##### client: The client uses the initial model with local data to update the local model. It also uploads the updated parameters to the repository.

"""
<h6>
model_info={
   "model_name":"DECENTER_UC4_FL", 
   "model_version":"0.0", #0.0(initial) 
   "model_location":"server", #server or client
   "device_name":"ID0001" #registered file name on AI model repository 
   #Download URL: /model_download_FL?model_name=DECENTER_UC4_FL&model_version=0.0&model_location=client&device_name=ID0001
}
</h6>
# Create instance using FL_repository 
<h6>
FL = FL_model(repository_address)
</h6>
# Set an model information attribute
<h6>
FL.set_model_info(model_info)
</h6>

"""
# model upload code
# 2. Download the model for server & client
# 2-1. Declare the file name to be used when saving on local storage
# 2-2. Download the model using API
"""
<h6>
stored_file_name = "../test_model_storage/model_download.zip"
FL.set_stored_file_name(stored_file_name)
Fl_model=FL.model_download()
FL.model_save(Fl_model)
</h6>
								</code>
						</pre>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} 
{% block script %}
<style>
p {
    background: antiquewhite;
}
pre {
    background-color: black;
    font-size: inherit;
    color: inherit;
    word-break: break-word;
    white-space: pre-line;
    padding: 30px;
}
h6 {
    padding: 5px;
    color: #82b9e8;
    font-weight: bold;
    white-space: pre;
}
</style>{% endblock %}
